* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
  width: 100%;
}

.search-input {
  height: 3rem;
  width: 40rem;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  outline: 0;
  border: var(--BORDER-NORMAL);
  padding: 0 1rem;
}

.search-section {
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: calc(0.9rem + 1.35vw) !important;
}
