<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

    <style>
        body {
            background-color: aqua;
        }
        label {
            font-size: 20px;
            border-bottom: azure;
        }
    </style>
</head>
<body>
   <h1>Hello User!</h1>
   <p>Please write your searched word</p>
   <form method="GET" action="https://ro.wikipedia.org/wiki/Pisic%C4%83_de_cas%C4%83">
       <label name="string">Your word:</label>
       <input type="string" value=""><br>

       <input type="submit" name="submit">

   </form>
</body>
</html>